---
title: Member
content_type: members
---
{% extends 'index' %}
{% block main %}
%form{:id => "someForm", :action => "{% path_to update_member %}", :enctype => "multipart/form-data", :method => "POST"}
  %input{:name => "slug", :type => "hidden", :value => "{{member._slug}}"}/
  %table
    %thead
      %tr
        %th
          Nickname
        %th
          Gender
        %th
          First&nbsp;name
        %th
          Last&nbsp;name
        %th
          Description
        %th
          Avatar
        %th
          Action
    %tbody
      %tr
        %td
          %input{:name => "nick", :type => "text", :value => "{{member.nickname}}"}/
        %td
          %select{:name => "genre", :value => ""}
            %option {{member.genre}}
            {% for genre_option in contents.members.genre_options %}
            %option {{genre_option}}
            {% endfor %}
        %td
          %input{:name => "firs", :type => "text", :value => "{{member.first_name}}"}/
        %td
          %input{:name => "last", :type => "text", :value => "{{member.last_name}}"}/
        %td
          %textarea{:name => "desc", :rows => "4"}
            :preserve
              {{member.description}}
        %td
          %img#preview{ :style => "width:100px; height:100px", :alt => "{{member.nickname}}", :src => "{{member.avatar.url}}"}/
          %br
          %input#upload{:name => "", :accept => "image/jpeg, image/jpg, image/png", "data-max-size" => "2097152", :type => "file", :value => "{{member.avatar.url}}"}/
        %td
          %input{:name => "save", :onclick => "askForSave()", :type => "button", :value => "Save"}/
          %input{:name => "delete", :onclick => "askForDelete()", :type => "button", :value => "Delete"}/
%script{:src => "https://unpkg.com/client-compress@2.1.2/dist/index.js"}
:javascript
  const options = {
    targetSize: 0.2,
    quality: 0.75,
    maxWidth: 100,
    maxHeight: 100
  }
  const compress = new Compress(options)
  const upload = document.getElementById("upload")
  upload.addEventListener(
    "change",
    (evt) => {
      const files = [...evt.target.files]
      compress.compress(files).then((conversions) => {
        const { photo, info } = conversions[0]
        console.log({ photo, info })
        const objectUrl = URL.createObjectURL(photo.data)
        Compress.loadImageElement(preview, objectUrl).then(() => {
          URL.revokeObjectURL(objectUrl)
        })
      })
    },
    false
  );
  form=document.getElementById("someForm");
  function askForSave() {
    form.action="{% path_to update_member %}";
    form.submit();
  }
  function askForDelete() {
    form.action="{% path_to delete_member %}";
    form.submit();
  }
{% endblock %}
