---
title: Member
content_type: members
---
{% extends 'index' %}
{% block main %}
%table
  %thead
    %tr
      %th
        Nickname
      %th
        First&nbsp;name
      %th
        Last&nbsp;name
      %th
        Description
      %th
        Avatar
      %th
        Action
  %tbody
    %tr
      %td
        %input{:id => "nick", :type => "text", :value => "{{member.nickname}}", :disabled => "disabled"}/
      %td
        %input{:id => "firs", :type => "text", :value => "{{member.first_name}}"}/
      %td
        %input{:id => "last", :type => "text", :value => "{{member.last_name}}"}/
      %td
        %textarea{:id => "desc", :rows => "4"}
          :preserve
            {{member.description}}
      %td
        %img{:alt => "some_text", :src => "{{member.avatar.url}}", :style => "width:100px;height:100px;"}/
        %input{:id => "file", :type => "file"}
      %td
        %input{:type => "submit", :onclick => "updateMember();"}
{{ 'application' | javascript_tag }}
{% endblock %}
