---
title: Member
content_type: members
---
{% extends 'index' %}
{% block main %}
%form{:action => "{% path_to edit_member %}", :enctype => "multipart/form-data", :method => "post"}
  %input{:name => "slug", :type => "hidden", :value => "{{member._slug}}"}/
  %table
    %thead
      %tr
        %th
          Nickname
        %th
          Gender
        %th
          First&nbsp;name
        %th
          Last&nbsp;name
        %th
          Description
        %th
          Avatar
        %th
          Action
    %tbody
      %tr
        %td
          %input{:name => "nick", :type => "text", :value => "{{member.nickname}}"}/
        %td
          %select{:name => "genre", :value => ""}
            %option {{member.genre}}
            {% for genre_option in contents.members.genre_options %}
            %option {{genre_option}}
            {% endfor %}
        %td
          %input{:name => "firs", :type => "text", :value => "{{member.first_name}}"}/
        %td
          %input{:name => "last", :type => "text", :value => "{{member.last_name}}"}/
        %td
          %textarea{:name => "desc", :rows => "4"}
            :preserve
              {{member.description}}
        %td
          %img#avatar{ :style => "width:100px; height:100px", :alt => "{{member.nickname}}", :src => "{{member.avatar.url}}"}/
          %br
          %input{:name => "avat", :accept => "image/jpeg, image/jpg, image/png", "data-max-size" => "2097152", :type => "file", :value => "{{member.avatar.url}}", :onchange => "loadFile(event)"}/
        %td
          %input{:type => "submit"}
:javascript
  var loadFile = function(event) {
    var output = document.getElementById('avatar');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
{% endblock %}
