table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #989898;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
a.button {
	text-decoration: none;
-webkit-appearance: push-button;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
align-items: flex-start;
background-color: rgb(192, 192, 192);
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: collapse;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: default;
display: inline-block;
font-family: -apple-system;
font-size: 11px;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 18px;
letter-spacing: normal;
line-height: 13px;
margin-bottom: 2px;
margin-left: 2px;
margin-right: 2px;
margin-top: 2px;
padding-bottom: 3px;
padding-left: 8px;
padding-right: 8px;
padding-top: 2px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
white-space: pre;
width: 57.484375px;
word-spacing: 0px;
writing-mode: horizontal-tb;}