/* COMMON */
  body {
    font-family: 'raleway', 'open-sans', sans-serif;
    font-size: 12pt;
    margin: 0em;
    padding: 1em;
  }

/* MOBILE FIRST */
  img, iframe, form, textarea, video, canvas, pre, table {
    display: block;
    max-width: 100%;
  }

  pre, table, {
    overflow-x: scroll;
    overflow-y: scroll;
  }

    @media only screen and (min-width : 300px) {
      html {
        color: tomato;
        border: dotted tomato;
      }
    }
    @media only screen and (min-width : 480px) {
      html {
        color: orange;
        border: dotted orange;
      }
    }
    @media only screen and (min-width : 768px) {
      html {
        color: mediumseagreen;
        border: dotted mediumseagreen;
      }
    }
    @media only screen and (min-width : 1024px) {
      html {
        color: violet;
        border: dotted violet;
      }
    }
    @media only screen and (min-width : 1366px) {
      html {
        color: dodgerblue;
        border: dotted dodgerblue;
      }
    }
    @media only screen and (min-width : 1920px) {
      html {
        color: slateblue;
        border: dotted slateblue;
      }
    }

/* DESKTOP FIRST *//*
  @media only screen and (min-width : 1200px) {
    html {
      color: red;
      border: solid red;
    }
  }
  @media only screen and (max-width : 1200px) {
    html {
      color: orange;
      border: solid orange;
    }
  }
  @media only screen and (max-width : 992px) {
    html {
      color: green;
      border: solid green;
    }
  }
  @media only screen and (max-width : 768px) {
    html {
      color: blue;
      border: solid blue;
    }
  }
  @media only screen and (max-width : 480px) {
    html {
      color: fuchsia;
      border: solid fuchsia;
    }
  }
*/