---
title: Delete
published: true
handle: delete_member
---
{% capture member %}{{ params.slug }}{% endcapture %}
{% action 'editMember' %}
setProp("member", "{{member}}");
var params = getProp('params');
var member = getProp('member');
updateEntry('members', member, { published: false });
redirectTo('members');
{% endaction %}
