---
title: Home page
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
  %body
    {% block 'main' %}
    {% for avatar in contents.avatars %}
    %img{:src => "{{ avatar.src.url }}"}
    #output
    {% include 'size' %}
    {% endfor %}
    {% endblock %}