---
title: Members
handle: members
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{site.name}}
    %meta{name: "keywords", value: "{{site.meta_keywords}}"}
    %meta{name: "description", value: "{{site.meta_description}}"}
    {{ 'application' | stylesheet_tag }}
  %body
    %h1 {{page.title}}
    {% block 'main' %}
    %table
      %tr
        %th Nickname
        %th Genre
        %th First&nbsp;Name
        %th Last&nbsp;Name
        %th Description
        %th Avatar
        %th Edit
      {% for slide in (2..contents.members.size) %}
      {% for member in contents.members | limit: 2 | offset: offset %}
      %tr
        %td {{member.nickname | capitalize}}
        %td {{member.genre}}
        %td {{member.first_name | capitalize}}
        %td {{member.last_name | upcase}}
        %td {{member.description}}
        %td
          %img{:style => "width:100px; height:100px", :alt => "{{member.nickname }}", :src => "{{member.avatar.url}}"}/
        %td
          %a{:href => "{% path_to member %}"} Edit
      {% endfor %}
      {% unless forloop.last %}
      %tr
        %td empty
      {% endunless %}
      {% assign offset = offset | plus: 2 %}
      {% endfor %}
    {% endblock %}

{{member.name}}