---
title: Home page
published: true
handle: index
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
  %body{:style => "font-family: monospace"}
    %h1 wp-consumer
    {% block 'main' %}
    %form{:action => "{% path_to results %}", :method => "post"}
      wordpress blog url (with json-api plugin active):
      %input{:name => "blog", :value => "{{ blog }}", :type => "text", :placeholder => "http://myblog.com"}/
      %input{:type => "submit", :value => "Go!"}/
    {% endblock %}