---
title: Members
handle: members
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{site.name}}
    %meta{name: "keywords", value: "{{site.meta_keywords}}"}
    %meta{name: "description", value: "{{site.meta_description}}"}
    {{ 'application' | stylesheet_tag }}
  %body
    %h1 {{page.title}}&nbsp;
    %p 
      %a{:href => "{% path_to new_member %}"}New member
    {% block 'main' %}
    %table
      %tr
        %th Nickname
        %th Gender
        %th First&nbsp;Name
        %th Last&nbsp;Name
        %th Description
        %th Avatar
        %th Action
      {% for member in contents.members %}
      %tr
        %td {{member.nickname | capitalize}}
        %td {{member.genre}}
        %td {{member.first_name | capitalize}}
        %td {{member.last_name | upcase}}
        %td {{member.description}}
        %td
          %img{:style => "width:100px; height:100px", :alt => "{{member.nickname}}", :src => "{{member.avatar.url}}"}/
        %td
          %a{:href => "{% path_to member %}"} Edit
      {% endfor %}
    %p 
      %a{:href => "{% path_to deleted_members %}"}Deleted Members
    {% endblock %}
