---
title: results
published: true
handle: results
---
{% extends 'index' %}
{% block 'main' %}
{% session_assign blog_url = params.blog %}
{% assign infos_url = session.blog_url | append: '/?json=info' %}
{% assign pages_url = session.blog_url | append: '/?json=get_page_index' %}
{% assign posts_url = session.blog_url | append: '/?json=get_posts' %}
{% consume blog from infos_url %}
{% if blog == null %}
{{ params.blog }} is offline!
{% else %}
{{ params.blog }} is online!
%br
{% endif %}
{% endconsume %}
{% consume pages from pages_url %}
{% for page in pages.pages %}
{% assign num_pages = forloop.length %}
{% endfor %}
pages: {{ num_pages }}
{% endconsume %}
%br
{% consume posts from posts_url %}
posts: {{ posts.count_total }}
{% endconsume %}
%br
%form{:action => "{% path_to import %}", :method => "post"}
  Import:
  - @names = ['pages','posts']
  - @names.each do |name|
    #{name}
    %input{:name => "#{name}", :type => "checkbox"}/
  %input{:type => "submit", :value => "Go!"}/
{% endblock %}
