---
title: Saving
published: true
handle: edit_member
---
%h1 {{ page.title }}
{% capture member %}{{ params.slug }}{% endcapture %}
{% action 'editMember' %}
setProp("member", "{{member}}");
var params = getProp('params');
var member = getProp('member');
updateEntry('members', member, { first_name: params.firs, last_name: params.last, description: params.desc, avatar: params.avat });
redirectTo('members');
{% endaction %}
