---
title: Saving
published: true
handle: update_member
---
{% action 'editMember' %}
setProp("member", "{{member}}");
var params = getProp('params');
var member = getProp('params.slug');
updateEntry('members', member, { genre: params.genre, nickname: params.nick, first_name: params.firs, last_name: params.last, description: params.desc, avatar: params.avat, deleted: false });
redirectTo('members');
{% endaction %}
